body {
    transition-duration: 0.5s;
    font-family: Dekko, 'Comic Sans MS', cursive;
    background: linear-gradient(#6495edee, #F3969Aee) no-repeat fixed bottom right, #F3969A;
}

.carousel-inner .carousel-caption h1 {
    color: white !important;
}

.thumbnail {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    background: #f5f5f5;
}

.selected-item {
    border-radius: 6px;
    background: #f5f5f5;
    color: #000000 !important;
}

.fa {
    padding: 25px;
    font-size: 30px !important;
    width: 80px;
    text-align: center;
    text-decoration: none;
    /*border-radius: 100% !important;*/
}

.fa-facebook {
    background: #3B5998;
    color: white !important;
}

.fa-facebook:hover {
    color: black !important;
}

.fa-twitter {
    background: #55ACEE;
    color: white !important;
}

.fa-twitter:hover {
    color: black !important;
}

.fa-google {
    background: #dd4b39;
    color: white !important;
}

.fa-google:hover {
    color: black !important;
}

.fa-youtube {
    background: #bb0000;
    color: white !important;
}

.fa-youtube:hover {
    color: black !important;
}

.carousel-inner img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.row {
    margin-bottom: 6px;
}

#slider {
    width: 100%;
    height: 70vh;
    margin: auto;
    display: block;
    object-fit: cover;
    position: relative;
    font-size: 10em;
}

.slider-photo {
    margin: auto;
    display: block;
    text-align: center;
    height: 70vh;
}

.slider-item {
    display: none;
    visibility: hidden;
}

.slider-active {
    visibility: visible !important;
    display: block !important;
}

.slider-next {
    right: 0;
    position: absolute;
    z-index: 10;
    bottom: 0;
    cursor: pointer;
}

.slider-prev {
    left: 0;
    z-index: 10;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 2%;
    right: 2%;
    height: 96%;
    width: 96%;
    opacity: 0;
    border-radius: 7px;
    transition: .5s ease;
    background-color: #dd4b39;
}

.rollover-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

#placeholder {
    width: 400px;
    height: 400px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}