body {
    transition-duration: 0.5s;
    font-family: Dekko, 'Comic Sans MS', cursive;
    background: linear-gradient(#6495edee,  #F3969Aee) no-repeat fixed bottom right, #F3969A;
}

.thumbnail {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
    border-radius: 4px;
    background: whitesmoke;
}